<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802355495349-tl8f05p3bruitvigmsoe15b3vjopaqfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802355495349-tl8f05p3bruitvigmsoe15b3vjopaqfk</string>
	<key>API_KEY</key>
	<string>AIzaSyCxZzBx4NSLh2Vaqfv3RLQJA7jvxgtnOYw</string>
	<key>GCM_SENDER_ID</key>
	<string>802355495349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaligula.ARPtorotype</string>
	<key>PROJECT_ID</key>
	<string>arprototype-3b720</string>
	<key>STORAGE_BUCKET</key>
	<string>arprototype-3b720.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802355495349:ios:3fa6800446ca40fca259fc</string>
</dict>
</plist>